.roboto-regular {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {

    background-color: #3DA5D9;
}

h1 {

    color: #FFFFFF;
}

h4 {

    color: #FFFFFF;
}

.header {
    overflow: hidden;
    background-color: #3DA5D9;
    padding: 20px 10px;
}

.header a {
    float: middle;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #73BFB8;
    color: white;
}

/* Style the active/current link*/
.header a.active {
    background-color: #3DA5D9;
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

img {
    border-radius: 50%;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'menu menu main main main main '
        'menu menu footer footer footer footer';
    gap: 10px;
    background-color: #3DA5D9;
    padding: 10px;
    height: calc(100vh - 100px);

}

.grid-container>div {
    background-color: #73BFB8;
    color: #FFFFFF;
    padding: 20px 0;
    font-size: 30px;
}